if SHIELD_SIMPLE_TEST_LEFT

config ZMK_KEYBOARD_NAME
    default "Simple Test"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SIMPLE_TEST_LEFT || SHIELD_SIMPLE_TEST_RIGHT

config ZMK_SPLIT
    default y

endif
